body{background-color: violet;}
h1{border: 2px solid gray;color:green; font-size:250%; padding: 30px;}
h2{border: 2px solid gray;color:purple; font-size:250%; padding: 40px;}
h3{border: 2px solid gray; color:blue; font-size:250%; padding: 50px;}
h4{border: 2px solid gray; color:blue; font-size:250%; padding: 50px;}
p{border: 2px solid gray; magin:50px; color:blue; font-size:180%; padding: 10px;}